<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqxxsa6P7I7guQiP02Gh-kthXLRkZ4TmA</string>
	<key>GCM_SENDER_ID</key>
	<string>450764994912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.money</string>
	<key>PROJECT_ID</key>
	<string>moneymanage-12188</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanage-12188.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450764994912:ios:e7d941a62ab16e10e04605</string>
</dict>
</plist>